body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
}
/* Header */

/* Main content */
main {
    padding:0;
}
main.vk{
    background-color: #ebedf1;
    color: #333333;
}
/* VK design */
/* Grid of main content */

.main-content-wrapper {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto 550px 200px;
    gap: 20px;
    align-items: start;
}
/* VK header */
.vk-header {
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}
.header-wrapper {
    width: 950px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.navigation-item:hover {
    background-color: #f3f5f6;
}
.header-search {
    background-color: #ebedf1;
    border-radius: 5px 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 50px;
}
.header-search input {
    background-color: #ebedf1;
}
.navigation-item.audio-player {
display: flex;
justify-content: space-between;
gap: 10px;
align-items: center;
}
.navigation-item.profile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navigation-item.profile-menu .nickname {
    order: -1;
}
.messages-container {
 display: flex;
 flex-direction: column;
 background-color: white;
}
.message-row {
border-bottom: 1px solid #bdc2c7;
padding: 10px;
display: flex;
justify-content: space-between;
font-size: 13px;
}
.message-row:last-child {
    border-bottom: none;
}
.message-row:hover {
    background-color: #f3f5f6;
}
.avatar-flex {
    order: -1;
    border-radius: 50%;
}
.closer {
    display: none;
}
.time {
    color: #a5aeb5;
}
.message-row:hover .closer {
    display: inline;
    position: relative;
    top: 1px;
}
.message-left-side-wrapper {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.message-right-side-wrapper {
    display: flex;
    gap: 5px;
}
.name-message-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.nickname {
    font-weight: bolder;
}
.search-row {
flex-basis: 30px;
border-bottom: 1px solid #bdc2c7;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 13px;
}
.search-field {
    display: flex;
    gap: 10px;
    align-items: center;
}
#search {
color: #a5aeb5;
font-weight: 500;
border: none;
height: 30px;
}
input:focus{
    outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none; 
}
.icons-field {
    display: flex;
    gap: 15px;
}
.sidebar {
    width: 200px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.sidebar-ref {
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: #31618c;
}
.sidebar-ref:hover {
    background-color: #f2f4f4;
}
.sidebar-ref:focus {
    background-color: #f2f4f4;
    color: black;
    font-weight: bold;
    border-left: 2px solid #5282b5;
}
.sidebar-ref:active {
    background-color: #f2f4f4;
    color: black;
    font-weight: bold;
    border-left: 2px solid #5282b5;
}
/* VK menu */
.vk-menu {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}
.vk-menu a {
    text-decoration: none;
    color: black;
}
.vk-menu-part {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom: 1px solid rgb(170, 170, 170);
}
.vk-menu-part.last {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 5px;
    margin-top: 5px;
}
.vk-menu-part.last a {
    color: rgb(71, 71, 71);
    font-size: 12px;
}
.vk-menu-part.last a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(71, 71, 71);
}
.vk-menu-item {
    padding: 6px;
    padding-left: 5px;
    font-size: 13px;
    border-radius: 3px;
}
.vk-menu-item img {
    vertical-align: bottom;
    margin-right: 5px;
}
.vk-menu-item:hover {
    background-color: #e4e7ec;
}
.friends-icon {
    position: relative;
    top: 2px;
}